.exercise-time {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  border-radius: 10px;
}
.exTime {
  font-weight: bold;
}
.exercise-time p {
  margin-bottom: 0;
}
