.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.exerciseSection {
  background-color: rgb(238, 255, 254);
}
.exerciseDetails {
  background-color: aquamarine;
}
.brandNameWIthLogo {
  display: flex;
  color: tomato;
  align-items: center;
}
.brandNameWIthLogo img {
  width: 90px;
  height: 90px;
}
.brandName {
  margin-left: 30px;
}
.exerciseContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.selectExercise h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
}
.breakBtn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
}
.breakBtn:hover {
  background-color: rgb(60, 21, 233);
  color: white;
}
.addBreak {
  margin-top: 30px;
}
.addBreak h3 {
  margin-left: 20px;
  font-size: 1.5rem;
}
.allBtn {
  background-color: white;
  margin: 20px 20px;
  height: 50px;
  padding: 5px;
  align-items: center;
  text-align: center;

  border-radius: 10px;
}
.activityBtn {
  width: 88%;
  background-color: #6056eb;
  border: none;
  height: 48px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
  margin-left: 20px;
}
.activityBtn:hover {
  background-color: rgb(25, 187, 133);
}
